html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  #root {
    width: 100%;
    min-height: 100vh;
    flex-direction: column
  }
  
  .full-page-background {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .form-container {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  footer {
    background-color: #5a287d; 
    color: #FFFFFF; 
    text-align: center;
    padding: 1rem;
  }

  main {
    flex: 1; 
  }
  